<div class="row">
    <div class="col-md-12">
        <h3 *ngIf="contact">Editar {{ contact.name }}</h3>
        <h3 *ngIf="!contact">Novo Contacto</h3>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Morada</label>
                <input type="text" class="form-control" formControlName="address">
            </div>
        </div>
    </div>
    <div class="row" formArrayName="phoneNumbers">
        <div class="col-md-12">Números de telefone:</div>
        <div *ngFor="let number of numbersGroup; let i = index">
            <div class="row" [formGroup]="number">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="name">Numero</label>
                        <input type="text" class="form-control" formControlName="number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tipo</label>
                        <input type="text" class="form-control" formControlName="label">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" *ngIf="i != 0">
                        <button type="button" (click)="removeNumber(i)" class="btn btn-info">x</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="addNumber()" class="btn btn-info float-end">+</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="submit()" class="btn btn-primary">Guardar</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</form>