<div *ngIf="contact">
    <div class="row initials-row">
        <div class="col-md-12">
            <div *ngIf="!hasPhoto" class="photo">
                <div class="initials">{{ initials }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name">{{ contact.name }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><b>Números de telefone:</b></div>
        <div class="col-sm-6" *ngFor="let number of contact.phoneNumbers">
            <div class="row">
                <div class="col-sm-4 v-aligned">{{ number.number }}</div>
                <div class="col-sm-4 v-aligned">{{ number.label }}</div>
                <div class="col-sm-4">
                    <a href="tel:{{ number.number }}">
                        <button type="button" class="btn btn-info">Telefonar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 v-aligned">
            <b>Email: </b> {{ contact.email }}
        </div>
        <div class="col-sm-6">
            <a href="mailto:{{ contact.email }}">
                <button type="button" class="btn btn-info">Escrever Email</button>
            </a>
        </div>
    </div>
    <div class="row address">
        <div class="col-md-12 v-aligned"><b>Morada: </b> {{ contact.address }}</div>
    </div>
    <div class="row bottom-buttons">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="edit()">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Apagar</button>
            <button type="button" class="btn btn-secondary" (click)="back()">Voltar</button>
        </div>
    </div>
</div>