<div *ngIf="group">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ group.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="contacts"><b>Contactos:</b></label>
            <span *ngIf="group.contacts.length == 0"><i>Não existem contactos neste grupo</i></span>
            <ul>
                <li *ngFor="let contact of group.contacts">{{ contact.name }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mail-to">
            <a href="mailto:{{ mailTo }}">
                <button type="button" class="btn btn-info">Ecrever Email</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="edit()">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Apagar</button>
            <button type="button" class="btn btn-secondary" (click)="back()">Voltar</button>
        </div>
    </div>
</div>