<div class="row" [formGroup]="form">
    <div class="col-md-12">
        <h3>Pesquisar Groups</h3>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="name">Contacto</label>
            <input type="text" class="form-control" formControlName="contact">
        </div>
    </div>
    <div class="col-sm-4">
        <button type="button" (click)="search()" class="btn btn-primary">Pesquisar</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" (click)="new()" class="btn btn-primary">Novo</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                <div class="float-start">Grupos</div>
                <div class="float-end">
                    <button type="button" (click)="changeOrder()" class="btn btn-secondary">{{ orderLabel }}</button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups.data">
            <td (click)="view(group.id)">{{ group.name }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <button type="button" *ngIf="currentPage != 0" (click)="previous()" class="btn btn-primary float-start">Anterior</button>
        <button type="button" *ngIf="currentPage == 0" disabled class="btn btn-primary float-start">Anterior</button>
        <button type="button" *ngIf="currentPage < groups.numOfPages - 1" (click)="next()" class="btn btn-primary float-end">Próximo</button>
        <button type="button" *ngIf="currentPage >= groups.numOfPages - 1" disabled class="btn btn-primary float-end">Próximo</button>
    </div>
</div>